﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>datatable</title>
    <script type="text/javascript">
        var AppRoutes = {
            BaseUrl: '@Url.Action("GetData", "Home")'
        };
    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/App/Scripts.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
